; int sum_1_to_n(int n) {
;     int x = 0;
;     while (n >= 0) {
;         x += n;
;         n -= 1;
;     }
;     return x;
; }

            push    .return         ; .return                       0
            push    1000            ; .return, 1000                 1
            jump    sum_1_to_n      ;                               2
        .return:                    ;                               3
            halt                    ; sum_1_to_n(1000)              4

    sum_1_to_n:                     ;                               5
            push    0               ; .return, n, x                 6

        .while_start:               ;                               7
            dup     1               ; .return, n, x, n              8
            push    0               ; .return, n, x, n, 0           9
            ge                      ; .return, n, x, n>=0          10
            jz      .while_end      ; .return, n, x                11

            dup     1               ; .return, n, x, n             12
            add                     ; .return, n, x+n              13
            swap    1               ; .return, x+n, n              14
            push    -1              ; .return, x+n, n, -1          15
            add                     ; .return, x+n, n-1            16
            swap    1               ; .return, n-1, x+n            17

            jump    .while_start    ;                              18
        .while_end:                 ;                              19

            swap    1               ; .return, x+n, n-1            20
            drop    1               ; .return, x+n                 21
            swap    1               ; x+n, .return                 22
            ret                     ;                              23
